@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

// setting colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$pistacho: #D0EFB1;
$grass: #B3D89C;
$sky:#eef3fc;
$water:#77A6B6;
$bluewater:#4D7298;
$bluegray: #A0B9BF;
$gray: #DCDCDD;
$darkgray: #77797c;


$link:$sky;


.hero {
    background:$link;
}

nav{
    background-color: $darkgray;
}

// .footer{
//     background-color:$darkgray;
//     color:white; 
// }