<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item">
        Forum
      </a>

      <a class="navbar-item">
        curriculum
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          profile
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Update Account Settings
          </a>
          <a class="navbar-item">
            Edit Profile
          </a>
          <a class="navbar-item">
            Sign-Out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>