{{>navbar}}


<section class="hero has-background-link-light is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">



        <figure class="avatar">
          <img src="https://placehold.it/128x128">
        </figure>



      </div>
    </div>
  </div>
</section>


{{>footer}}